wp/node_modules
wpv2/node_modules


# git repos
wp/.git
wpv2/.git

# Themes
themes/kwp/simplistica/node_modules
themes/hwphp

# Build
lib/build/front/node_modules
lib/build/admin/node_modules
lib/build/api/node_modules
lib/build/api/src/lib/*

#core

/core/*
/wpv2/*